.navbar {
font-size: 100%;
background-color: white;
border: 10px solid maroon;
border-radius: 15px;
}

.col-sm-4{
text-align: center;
align-items: center;
color: maroon;
font-family: sans-serif;
padding: 10px
}
.station{
text-align: center;
align-items: center;
color: midnightblue;
font-family: sans-serif;
padding: 10px
}



#HomePic {
  border:10px solid maroon;
  align-content: center;
  width: 920px;
}
#ContactImg{
border:10px solid maroon;
align-content: center;
width: 250px;
height: 400px;
}

header {
font-size: 105%;
background-color: maroon;
color: white;
padding-left: 10px;
padding-top:10px;
padding-right: 10px;
}

#TitleWords{
text-align: bottom;
margin-left: 10px;
}

h1 {
font-size: 300%;
margin-bottom: 10px;
margin-top: 0px;
color: black;
padding: inherit;
}

h2 {
  color: maroon;
  font-size: 48px;
}

.whitewords {
  color: white;
}


h3{
color: black;
font-style: italic;
}

body {
background-color: white;
color: black
}

#grey {
  background-color: maroon;
  padding: 10px;
}

#outline {
  outline-style: solid;
  outline-color: black;
  padding: 10px;
  background-color: rgb(255, 153, 153);
}
table {
  border: black;
}
header, nav, main, footer {
            border: 1px solid black;
            padding: 10px;
            font-size: large;
            font-weight: bold;
            margin-bottom: 10px;
        }
        h2{align-items: center;}

      #round_img{
                border-radius: 20px;
              }

            .div{min-height: 50px;}

table, td, th {
            border-bottom: 1px solid black;
        }

        table {
            border-collapse: collapse;
        }

        table {
            width: 100%;
            max-width: 500px;
        }

        td, th {
            padding: 5px;
        }

        th {
            text-align: left;
        }

        thead {
            background-color: firebrick;
            color: white;
        }

        tfoot {
            background-color: #0c120f;
            color: white;
            font-size: smaller;
        }

        tr:nth-child(even) {
            background-color: lightgray;
        }

        tbody>tr:hover {
            background-color: #ceffd0;
        }
        th[role=columnheader]:not(.no-sort) {
	cursor: pointer;
}
