<!doctype html>
<html>
<head>
  <title>Home</title>
  <link rel="stylesheet" href="css/site.css" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
  <!-- /* Bootstrap documentation nav Bar */ -->
  <div class="container">
      <header class="row">
          <p>Oconee County Fire Rescue</p>
      </header>

      <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">OCFR</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="index.html">Home <span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link" href="members.html">Members</a>
          <a class="nav-item nav-link" href="certification.html">Certification</a>
          <a class="nav-item nav-link" href="reports.html">Reports</a>
        </div>
      </div>
    </nav>
      <main class="row">


      <div class="container">
          <div class="row">
            <div id="mainContent" class="col-md">
              <div id="certificationRecordsApp">

                <form @submit.prevent="handleSubmit">
                  <div class="form-group row">
                    <label for="inputcertificationName" class="col-sm-2 col-form-label">Certification Name</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="inputFirstName" placeholder="Certification Name" v-model="recordcertificate.certificationName">
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="inputCertificationAgency" class="col-sm-2 col-form-label">Certification Agency</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="inputCertificationAgency" placeholder="Certification Agency" v-model="recordcertificate.certificationAgency">
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="inputExpiryPeriod" class="col-sm-2 col-form-label">Expiry Period</label>
                    <div class="col-sm-10">
                      <input type="date" class="form-control" id="inputExpiryPeriod" placeholder="2001-12-13" v-model="recordcertificate.expiryPeriod">
                    </div>
                  </div>



                  <div class="form-group row">
                    <div class="col-sm-10">
                      <button type="submit" class="btn btn-primary">Create Certificate Record</button>
                    </div>
                  </div>
                </form>


        <table class="table table-sm table-hover">
          <thead>
            <tr>
              <th>certificationID</th>
              <th>certificationName</th>
              <th>certificationAgency</th>
              <th>expiryPeriod</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="p in certificates">
              <td>{{ p.certificationID }}</td>
              <td>{{ p.certificationName }}</td>
              <td>{{ p.certificationAgency }}</td>
              <td>{{ p.expiryPeriod }}</td>
            </tr>
          </tbody>
        </table>
        </div>
        </div>
        </div>
        </div>


      </main>

      <footer class="row">
          <p>Oconee County Fire Rescue (OCFR) is a volunteer organization in Oconee County, GA.</p>
      </footer>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script src="js/display.app.js"></script>

</body>
</html>
