<!doctype html>
<html>
<head>
  <title>OCFR Page</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="css/style.css">
</head>
<header>
<div class="row">
    <div class="col-xs-3 col-sm-2 col-md-1 col-lg-1">
        <div id="TitleImage"><img src="img/logo.png" width="92">
        </div>
    </div>
        <div class="col-xs-7 col-sm-6 col-md-5" "col-lg-5" id=TitleWords>
            <div class="row"><h1 class=whitewords>Oconee County Fire Rescue</h1>
            </div>
            <div class="row"><h4><i>"Stop, Drop, and Roll!"</i></h4>
            </div>
        </div>
    </div>

<div class="row">
<nav class="navbar navbar-default">

<div class="navbar-default" id="myMenu">
  <ul class="nav navbar-nav">
<li class="nav-item active">
          <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
        </li>
<li class="nav-item active">
          <a class="nav-link" href="members.html">Members <span class="sr-only">(current)</span></a>
        </li>
<li class="nav-item active">
          <a class="nav-link" href="certifications.html">Certifications <span class="sr-only">(current)</span></a>
        </li>
</ul>
</div>
</nav>
</div>
<br>
</table>
<div class="container">
  <div class="row">
    <div class="col">
    </div>
    <div class="col">

    </div>
  </div>
  <div class="row">
    <div class="col">

    </div>
    <div class="col">

    </div>
    <div class="col">

    </div>
  </div>
</div>
<h1>Available Certifications</h1>
<table class="table table-sm table-hover">
  <thead>
    <tr>
      <th>Certification ID</th>
      <th>Certifying Agency</th>
      <th>Certification Name</th>
      <th>Expiration Period</th>
    </tr>
  </thead>
  <tbody>
    <tr v-for="c in certifications" @click="handleRowClick(p)">
      <td>{{ p.CertificationID}}</td>
      <td>{{ p.certifyingAgency }}</td>
      <td>{{ p.certificationName}}</td>
      <td>{{ p.expirationPeriod }}</td>
    </tr>
  </tbody>
</table>
<h1 style="background-color:rgb(o,o,o);">Add A Certification</h1><form>
  <div class="container">
    <div class="row">
      <div id="mainContent" class="col-md">
        <div id="CertificationsApp">
          <form @submit.prevent="handleSubmit">
            <div class="form-group row">
              <label for="inputcertificationID" class="col-sm-2 col-form-label">Certification ID</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="inputcertificationID" placeholder="00000" v-model="recordCertification.CertificationID">
              </div>
            </div>

            <div class="form-group row">
              <label for="inputcertifyingAgency" class="col-sm-2 col-form-label">Certifying Agency</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="inputcertifyingAgency" placeholder="American Red Cross" v-model="recordCertification.certifyingAgency">
              </div>
            </div>

            <div class="form-group row">
              <label for="inputcertificationName" class="col-sm-2 col-form-label">Certification Name</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="inputcertificationName" placeholder="CPR Certified" v-model="recordCertification.certificationName">
              </div>
            </div>

            <div class="form-group row">
              <label for="inputexpirationPeriod" class="col-sm-2 col-form-label">Expiration Period</label>
              <div class="col-sm-10">
                <input type="integer" class="form-control" id="inputexpirationPeriod" placeholder="3" v-model="recordCertification.expirationPeriod">
              </div>
            </div>



            <div class="form-group row">
              <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Create Certification</button>
              </div>
            </div>
          </form>

</div>


<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script src="js/certification.app.js"></script>

</header>
</html>
