<!doctype html>
<html>
<head>
  <title>OCFR Page</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="css/style.css">
</head>
<body>
<header>
  <div class="row">
    <div class="col-xs-3 col-sm-2 col-md-1 col-lg-1">
      <div id="TitleImage"><img src="img/logo.png" width="92">
      </div>
    </div>
    <div class="col-xs-7 col-sm-6 col-md-5 col-lg-5" id="TitleWords">
      <div class="row">
        <h1 class="whitewords">Oconee County Fire Rescue</h1>
      </div>
      <div class="row">
        <h4><i>"Stop, Drop, and Roll!"</i></h4>
      </div>
    </div>
  </div>

<div class="row">
<nav class="navbar navbar-default">

<div class="navbar-default" id="myMenu">
  <ul class="nav navbar-nav">
<li class="nav-item active">
          <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
        </li>
<li class="nav-item active">
          <a class="nav-link" href="members.html">Members <span class="sr-only">(current)</span></a>
        </li>
<li class="nav-item active">
          <a class="nav-link" href="certifications.html">Certifications <span class="sr-only">(current)</span></a>
        </li>
<li class="nav-item active">
         <a class="nav-link" href="enrollment.html">Allotment <span class="sr-only">(current)</span></a>
        </li>
<li class="nav-item active">
        <a class="nav-link" href="reports.html">Reports <span class="sr-only">(current)</span></a>
        </li>
</ul>
</div>
</nav>
</div>
</header>
<!-- <div class="container">
  <div class="row">
    <div class="col">
    </div>
    <div class="col">

    </div>
  </div>
  <div class="row">
    <div class="col">

    </div>
    <div class="col">

    </div>
    <div class="col">

    </div>
  </div>
</div> -->


  <div class="container">
    <div class="row">
      <div id="mainContent" class="col-md">
        <div id="CertificationsApp">
        <div id="outline">
          <form @submit.prevent="handleSubmit">
            <!-- <div class="form-group row">
              <label for="inputcertificationID" class="col-sm-2 col-form-label">Certification ID</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="inputcertificationID" placeholder="00000" v-model="recordCertification.certificationID">
              </div>
            </div> -->

            <div class="form-group row">
              <label for="inputcertifyingAgency" class="col-sm-2 col-form-label">Certifying Agency</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="inputcertifyingAgency" placeholder="American Red Cross" v-model="recordCertification.certifyingAgency">
              </div>
            </div>

            <div class="form-group row">
              <label for="inputcertificationName" class="col-sm-2 col-form-label">Certification Name</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="inputcertificationName" placeholder="CPR Certified" v-model="recordCertification.certificationName">
              </div>
            </div>

            <div class="form-group row">
              <label for="inputexpirationPeriod" class="col-sm-2 col-form-label">Expiration Period</label>
              <div class="col-sm-10">
                <input type="integer" class="form-control" id="inputexpirationPeriod" placeholder="3" v-model="recordCertification.expirationPeriod">
              </div>
            </div>



            <div class="form-group row">
              <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Create Certification</button>
              </div>
            </div>
          </form>
</div>

          <h1>Available Certifications</h1>
          <table class="table table-sm table-hover">
            <thead>
              <tr>
                <!-- <th>Certification ID</th> -->
                <th>Certifying Agency</th>
                <th>Certification Name</th>
                <th>Expiration Period</th>
                <th>Function</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="c in certifications" @click="handleRowClick(c)">
                <!-- <td>{{ c.certificationID}}</td> -->
                <td>{{ c.certifyingAgency }}</td>
                <td>{{ c.certificationName}}</td>
                <td>{{ c.expirationPeriod }}</td>
                <td><div>
                  <button @click="deleteTransaction(c)" class="btn btn-primary">DELETE
                </button></div></td>
              </tr>
            </tbody>
          </table>
</div>
<div id="EditcertificationApp">

          <form @submit.prevent="handleEdit()">
            <div class="row">
              <div class="form-group col-md-6">
                <input type="text" class="form-control" placeholder="Certification Name" v-model="recordCertification.certificationName" >
              </div>
              <div class="form-group col-md-6">
                <input type="text" class="form-control" placeholder="Certification Agency" v-model="recordCertification.certifyingAgency" >
              </div>
            </div>

            <div class="row">
              <div class="form-group col-md-4">
                <input type="Integer" class="form-control" placeholder="9999-99-99" v-model="recordCertification.expirationPeriod" >
              </div>
            </div>

            <div class="form-group row">
              <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Edit Certification</button>
              </div>
            </div>
          </form>
        </div>

</div>
</div>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script src="js/certification.app.js"></script>
<script src="js/EditcertificationApp.app.js"></script>


</body>
</html>
