<!doctype html>
<html>
<head>
  <title>OCFR Page</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="css/style.css">
</head>
<body>
<header>
  <div class="row">
    <div class="col-xs-3 col-sm-2 col-md-1 col-lg-1">
      <div id="TitleImage"><img src="img/logo.png" width="92">
      </div>
    </div>
    <div class="col-xs-7 col-sm-6 col-md-5 col-lg-5" id="TitleWords">
      <div class="row">
        <h1 class="whitewords">Oconee County Fire Rescue</h1>
      </div>
      <div class="row">
        <h4><i>"Stop, Drop, and Roll!"</i></h4>
      </div>
    </div>
  </div>

<div class="row">
<nav class="navbar navbar-default">

<div class="navbar-default" id="myMenu">
  <ul class="nav navbar-nav">
<li class="nav-item active">
          <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
        </li>
<li class="nav-item active">
          <a class="nav-link" href="members.html">Members <span class="sr-only">(current)</span></a>
        </li>
<li class="nav-item active">
          <a class="nav-link" href="certifications.html">Certifications <span class="sr-only">(current)</span></a>
        </li>
<li class="nav-item active">
         <a class="nav-link" href="enrollment.html">Allotment <span class="sr-only">(current)</span></a>
        </li>
<li class="nav-item active">
        <a class="nav-link" href="reports.html">Reports <span class="sr-only">(current)</span></a>
        </li>
</ul>
</div>
</nav>
</div>
</header>

  <div class="container">
    <div class="row">
      <div id="mainContent" class="col-md">
        <div id="EnrollmentApp">
        <div id="outline">
          <form @submit.prevent="handleSubmit">
            <!-- <div class="form-group row">
              <label for="inputcertificationID" class="col-sm-2 col-form-label">enrollmentID</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="inputenrollmentID" placeholder="00000" v-model="recordenrollments.enrollmentID">
              </div>
            </div> -->
            <div class="form-group row">
              <label for="inputcertificationID" class="col-sm-2 col-form-label">Certification ID</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="inputcertificationID" placeholder="00000" v-model="recordenrollments.certificationID">
              </div>
            </div>

            <div class="form-group row">
              <label for="inputcertifyingAgency" class="col-sm-2 col-form-label">Member ID</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="inputMemberID" placeholder="memberID" v-model="recordenrollments.memberID">
              </div>
            </div>

            <div class="form-group row">
              <label for="inputcertifyingAgency" class="col-sm-2 col-form-label">certificationIsActive</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="inputcertificationIsActive" placeholder="certificationIsActive" v-model="recordenrollments.certificationIsActive">
              </div>
            </div>

            <div class="form-group row">
              <label for="inputcertifyingAgency" class="col-sm-2 col-form-label">certificationStartDate</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="certificationStartDate" placeholder="certificationStartDate" v-model="recordenrollments.certificationStartDate">
              </div>
            </div>

            <div class="form-group row">
              <label for="inputcertifyingAgency" class="col-sm-2 col-form-label">certificationEndDate</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="certificationEndDate" placeholder="certificationEndDate" v-model="recordenrollments.certificationEndDate">
              </div>
            </div>



            <div class="form-group row">
              <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Create Enrollment</button>
              </div>
            </div>
          </form>
</div>

          <h1>Available Enrollments</h1>
          <table class="table table-sm table-hover" id="taskTable">
            <thead>
              <tr>
                <!-- <th>enrollmentID</th> -->
                <th>Certification ID</th>
                <th>Member ID</th>
                <th>certificationIsActive</th>
                <th>certificationStartDate</th>
                <th>certificationEndDate</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="e in enrollments" @click="handleRowClick(e)">
                <!-- <td>{{ e.enrollmentID}}</td> -->
                <td>{{ e.certificationID }}</td>
                <td>{{ e.memberID}}</td>
                <td>{{ e.certificationIsActive }}</td>
                <td>{{ e.certificationStartDate }}</td>
                <td>{{ e.certificationEndDate }}</td>
                <td><div>
                  <button @click="deleteTransaction(e)" class="btn btn-primary">DELETE
                </button></div></td>
              </tr>
            </tbody>
          </table>
</div>
<div id="editenrollment">

          <form @submit.prevent="handleEdit()">
            <div class="row">
              <div class="form-group col-md-6">
                <input type="text" class="form-control" placeholder="certificationID" v-model="recordenrollments.certificationID" >
              </div>
              <div class="form-group col-md-6">
                <input type="text" class="form-control" placeholder="memberID" v-model="recordenrollments.memberID" >
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-6">
                <input type="text" class="form-control" placeholder="certificationIsActive" v-model="recordenrollments.certificationIsActive" >
              </div>
              <div class="form-group col-md-6">
                <input type="Integer" class="form-control" placeholder="certificationStartDate" v-model="recordenrollments.certificationStartDate" >
              </div>
            </div>

            <div class="row">
              <div class="form-group col-md-4">
                <input type="Integer" class="form-control" placeholder="9999-99-99" v-model="recordenrollments.certificationEndDate" >
              </div>
            </div>

            <div class="form-group row">
              <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Edit Enrollments</button>
              </div>
            </div>
          </form>
        </div>

</div>
</div>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script src="js/enrollment.app.js"></script>
<script src="js/editenrollment.app.js"></script>
<script src="js/tablesort.min.js" > </script>
<script>
new Tablesort(document.getElementById('taskTable'));
</script>

</body>
</html>
