<!doctype html>
<html>
<head>
  <title>OCFR Page</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <header>
    <div class="row">
      <div class="col-xs-3 col-sm-2 col-md-1 col-lg-1">
        <div id="TitleImage"><img src="img/logo.png" width="92">
        </div>
      </div>
      <div class="col-xs-7 col-sm-6 col-md-5 col-lg-5" id="TitleWords">
        <div class="row">
          <h1 class="whitewords">Oconee County Fire Rescue</h1>
        </div>
        <div class="row">
          <h4><i>"Stop, Drop, and Roll!"</i></h4>
        </div>
      </div>
    </div>


    <div class="row">
      <nav class="navbar navbar-default">

        <div class="navbar-default" id="myMenu">
          <ul class="nav navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="members.html">Members <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="certifications.html">Certifications <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                     <a class="nav-link" href="enrollment.html">Allotment <span class="sr-only">(current)</span></a>
                    </li>
            <li class="nav-item active">
                    <a class="nav-link" href="reports.html">Reports <span class="sr-only">(current)</span></a>
                    </li>
          </ul>
        </div>
      </nav>
    </div>
  </header>

  <div class="container">
        <div class="row">
          <div class="col-md">
            <div id="recordsApp">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="inputGroupSelect01">Expired Certificates</label>
                </div>
                <div class="filter">
                  <select class="custom-select" id="inputGroupSelect01" v-model="filter.certificationID">
                    <option value="">(all)</option>
                    <option v-for="c in certifications" :value="c.certificationID">{{c.certificationName}}</option>
                  </select>
                </div>
              </div>
            </div>


      <table class="table table-sm table-hover table-responsive">
        <thead class="thead-dark">
          <tr>
            <th>Certification Name</th>
            <th>Member Name</th>
            <th>DOB</th>
            <th>Gender</th>
            <th>Certification Status</th>
            <th>certification StartDate</th>
            <th>Certification EndDate</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="c in enrollments"
          v-if="filter.certificationID == '' || filter.certificationID == c.certificationID">
            <td>{{ c.certificationName }}</td>
            <td>{{ c.firstName }} {{p.lastName}}</td>
            <td>{{ c.dob }}</td>
            <td>{{ c.Gender }}</td>
            <td>{{ c.certificationIsActive }}</td>
            <td>{{ c.certificationStartDate }}</td>
            <td>{{ c.certificationEndDate }}</td>
          </tr>
        </tbody>
      </table>
      <br>



      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroup1">Radio Number</label>
          </div>
          <div class="filter">
            <select class="custom-select" id="inputGroup1" v-model="filter.Radio">
              <option value="">(all)</option>
              <option v-for="r in members" :value="r.Radio">{{r.Radio}}</option>
            </select>
          </div>

          <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroup2">Station Number</label>
          </div>
          <div class="filter">
            <select class="custom-select" id="inputGroup2" v-model="filter.Station">
              <option value="">(all)</option>
              <option v-for="r in members" :value="r.Station">{{r.Station}}</option>
            </select>
          </div>

        </div>
      </div>


      <table class="table table-sm table-hover table-responsive">
        <thead class="thead-dark">
          <tr>
            <th>Member Name</th>
            <th>DOB</th>
            <th>Gender</th>
            <th>Radio Number</th>
            <th>Station Number</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="r in reportRadio"
          v-if="(filter.Radio=='' || filter.Radio==r.Radio) && (filter.Station=='' || filter.Station==r.Station)">
            <td>{{ r.firstName }} {{r.lastName}}</td>
            <td>{{ r.dob }}</td>
            <td>{{ r.Gender }}</td>
            <td>{{ r.Radio }}</td>
            <td>{{ r.Station }}</td>
            <td>{{ r.Email }}</td>
          </tr>
        </tbody>
      </table>


      </div>


      </div>
      </div>
      </div>


            <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
            <script src="js/recordsApp.js"></script>

</body>
</html>
